<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <form method="post" action="/tableImport" class="form-bd">
        <label for="bd_name">Nom de la Base de Données</label>
        <select id="bd_name" name="bd_name" size=5>
            <%- optionsBD %>
        </select>
        <input type="submit" value="Modifier" id="btValider" class="btn btn-update" />
    </form>

    <h3>Base de donnée sélectionnée : <strong class="strong-red"><%= BDchoisie %></strong></h3>
    
    <h2>Choisissez la table où importer</h2>

    <form method="post" action="/validationImport">
        <div class="form-table flex-col">
            <div class="form-table flex-row">
                <div class="form-block-table w50">
                    <label for="nomFichier">Nom du fichier à importer</label>
                    <input type="text" id="nomFichier" name="nomFichier" placeholder="Nom du fichier (avec l'extension)" required/>
                </div>

                <div class="form-block-table  w30">
                    <label for="formatToImport">extension</label>
                    <select id="formatToImport" name="formatToImport" size=3 >
                        <option value='txt'>txt</option>
                        <option value='csv'>csv</option>
                        <option value='json'>json</option>
                    </select>
                </div>
            </div>

            <div class="form-table flex-row">
                <div class="form-block-table w50">
                    <label for="table_name">Sélectionner une table</label>
                    <select id="table_name" name="table_name" size=5 required>
                        <%- optionsTables %>
                    </select>
                </div>

                <div class="form-block-table w30">
                    <label for="separateurImport">Séparateur</label>
                    <select id="separateurImport" name="separateurImport" size=3 disabled required>
                        <option value=','>Virgule , (Comma)</option>
                        <option value=';'>Point-virgule ; (Semicolon)</option>
                        <option value='|'>Barre Vertical | (Pipe)</option>
                
                    </select>
                </div>
            </div>
        </div>
        <div class="div-btn-convertir">
            <input type="submit" value="Importer" id="btConvertir" class="btn btn-validate btn-convertir" />
        </div>
    </form>
    
<%- include ('partials/footer') %>