<%- include ('partials/header') %>
    <%- include ('partials/title') %>

    <form method="post" action="/tableExport" class="form-bd">
        <label for="bd_name">Nom de la Base de Données</label>
        <select id="bd_name" name="bd_name" size=5>
            <!-- <option> -- Choisissez votre BDD -- </option> -->
            <%- optionsBD %>
        </select>
        <input type="submit" value="Modifier" id="btValider" class="btn btn-update" />
    </form>

    <h3>Base de donnée sélectionnée : <strong class="strong-red"><%= BDchoisie %></strong></h3>
    
    <h2>Choisissez la table à exporter</h2>

    <form method="post" action="/validationExport">
        <div class="form-table flex-row">
            <div class="form-block-table">
                <label for="table_name" >Sélectionner une table</label>
                <select id="table_name" name="table_name" size=5 required>
                    <!-- <option value="0">  --  Choisissez la table à exporter  --  </option> -->
                    <%- optionsTables %>
                </select>
            </div>

            <div class="form-block-table">
                <label for="formatToConvert">Format de conversion</label>
                <select id="formatToConvert" name="formatToConvert" size=3 required >
                    <!-- <option value='0'>-- Choisissez votre format --</option> -->
                    <option value='txt'>txt</option>
                    <option value='csv'>csv</option>
                    <option value='json'>json</option>
                </select>
            </div>

            <div class="form-block-table">
                <label for="separateurExport">Séparateur</label>
                <select id="separateurExport" name="separateurExport" size=3 disabled required>
                    <!-- <option value='0'>-- Choisissez votre Séparateur --</option> -->
                    <option value=',' >Virgule , (Comma)</option>
                    <option value=';' >Point-virgule ; (Semicolon)</option>
                    <option value='|'>Barre Vertical | (Pipe)</option>
                
                </select>
            </div>

        </div>
        <div class="div-btn-convertir">
            <input type="submit" value="Exporter" id="btConvertir" class="btn btn-validate btn-convertir"/>
        </div>
    </form>
    
<%- include ('partials/footer') %>